body,html {
    margin: 0;
    padding: 0;
    background-color: #1b1b1b;
    transition: background-color 0.5s;
}

.niramit-regular {
  font-family: "Niramit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#website-body{
  opacity: 0;
  animation: fadeInAnimation ease 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

#cover-banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #bebebe;
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 2;
  
}

#home-button-container{
  margin-left: 20px;
}
#home-button{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.1s;
  z-index: 2;
  background-color: #bebebe;
  border: 3px solid #1b1b1b;
}
#home-button-image{
  width: 100%;
}

#appearance-button-container{
  margin-right: 20px;
}
#appearance-button{
  width: 50px;
  height: 50px;
  border: 3px solid #1b1b1b;
  padding: 10px 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.1s;
  z-index: 2;
  background-color: #bebebe;
}
#appearance-button:active {
  transform: scale(0.92);
}
#appearance-button-image {
  width: 100%;
}

.cover-container {
  display: flex;
  padding-top: 200px;
  padding-left: 150px;
  padding-right: 200px;
  padding-bottom: px;
  /*border: 3px solid #ccc; */
  justify-content: center;
}

#cover-canvas{
  display: flex;
 /* border: 3px solid #ccc;*/
  position: absolute;
  right: 200px;
  z-index: 1;
}

.text-container{
  font-family: "Niramit", sans-serif;
  color: #bebebe;
}

#title-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 150px;
  color: #ccc;
  /*border: 3px solid #ccc;*/
  font-size: 100px;
}

#horizontal-line-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Adjust height as needed */
  overflow: hidden;
}
#horizontal-line{
  justify-content: center;
  width: 0%;
  height: 5px;
  transition: 1s;
  background-color: #3a4198;
}
#horizontal-line.animated{
  width: 85%;
}

#subtitle-container{
  width: 80%;
  padding-left: 200px;  
  font-size: 20px;
}


.lower-panel-container {
  display: flex;
  padding-left: 200px;
  padding-right: 200px;
}
.lower-panel {
  display: flex;
  flex: 1;
  border: 3px solid #b48a00;
  height: 750px;
  padding: 20px;
  margin: 30px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #1b1b1b;
  cursor: pointer;
  border-radius: 75px;
}

#about-button{
  
}
#creations-button{
  
}
#contact-panel{

}

/*.footer{
  display:flex;
  justify-content: center;
  align-items: center;
}*/